USE [master]
GO

CREATE DATABASE [EscapeBombonera]
 CONTAINMENT = NONE
 ON PRIMARY
(
    NAME = N'EscapeBombonera',
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EscapeBombonera.mdf',
    SIZE = 8192KB,
    MAXSIZE = UNLIMITED,
    FILEGROWTH = 65536KB
)
LOG ON
(
    NAME = N'EscapeBombonera_log',
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EscapeBombonera_log.ldf',
    SIZE = 8192KB,
    MAXSIZE = 2048GB,
    FILEGROWTH = 65536KB
)
GO

USE [EscapeBombonera]
GO

CREATE TABLE [dbo].[Jugador]
(
    [Id] INT IDENTITY(1,1) NOT NULL,
    [Nombre] VARCHAR(100) NOT NULL,

    PRIMARY KEY CLUSTERED
    (
        [Id] ASC
    )
)
GO

CREATE TABLE [dbo].[Partida]
(
    [Id] INT IDENTITY(1,1) NOT NULL,
    [IdJugador] INT NOT NULL,
    [FechaInicio] DATETIME NOT NULL,
    [FechaFin] DATETIME NULL,
    [Estado] VARCHAR(30) NOT NULL,

    PRIMARY KEY CLUSTERED
    (
        [Id] ASC
    )
)
GO

CREATE TABLE [dbo].[Sala]
(
    [Id] INT IDENTITY(1,1) NOT NULL,
    [Numero] INT NOT NULL,
    [Nombre] VARCHAR(100) NOT NULL,
    [Descripcion] VARCHAR(MAX) NOT NULL,

    PRIMARY KEY CLUSTERED
    (
        [Id] ASC
    )
)
GO

CREATE TABLE [dbo].[Acertijo]
(
    [Id] INT IDENTITY(1,1) NOT NULL,
    [IdSala] INT NOT NULL,
    [Numero] INT NOT NULL,
    [Pregunta] VARCHAR(MAX) NOT NULL,
    [RespuestaCorrecta] VARCHAR(200) NOT NULL,
    [Pista] VARCHAR(MAX) NOT NULL,

    PRIMARY KEY CLUSTERED
    (
        [Id] ASC
    )
)
GO

CREATE TABLE [dbo].[Respuesta]
(
    [Id] INT IDENTITY(1,1) NOT NULL,
    [IdPartida] INT NOT NULL,
    [IdSala] INT NOT NULL,
    [IdAcertijo] INT NOT NULL,
    [RespuestaJugador] VARCHAR(200) NOT NULL,
    [EsCorrecta] BIT NOT NULL,
    [Fecha] DATETIME NOT NULL,

    PRIMARY KEY CLUSTERED
    (
        [Id] ASC
    )
)
GO

CREATE TABLE [dbo].[ProgresoPartida]
(
    [Id] INT IDENTITY(1,1) NOT NULL,
    [IdPartida] INT NOT NULL,
    [IdSala] INT NOT NULL,
    [Resuelta] BIT NOT NULL,

    PRIMARY KEY CLUSTERED
    (
        [Id] ASC
    )
)
GO

CREATE TABLE [dbo].[PistaUsada]
(
    [Id] INT IDENTITY(1,1) NOT NULL,
    [IdPartida] INT NOT NULL,
    [IdAcertijo] INT NOT NULL,
    [Fecha] DATETIME NOT NULL,

    PRIMARY KEY CLUSTERED
    (
        [Id] ASC
    )
)
GO

ALTER TABLE [dbo].[Acertijo]
ADD FOREIGN KEY ([IdSala])
REFERENCES [dbo].[Sala] ([Id])
GO

ALTER TABLE [dbo].[Partida]
ADD FOREIGN KEY ([IdJugador])
REFERENCES [dbo].[Jugador] ([Id])
GO

ALTER TABLE [dbo].[Respuesta]
ADD FOREIGN KEY ([IdPartida])
REFERENCES [dbo].[Partida] ([Id])
GO

ALTER TABLE [dbo].[Respuesta]
ADD FOREIGN KEY ([IdSala])
REFERENCES [dbo].[Sala] ([Id])
GO

ALTER TABLE [dbo].[Respuesta]
ADD FOREIGN KEY ([IdAcertijo])
REFERENCES [dbo].[Acertijo] ([Id])
GO

ALTER TABLE [dbo].[ProgresoPartida]
ADD FOREIGN KEY ([IdPartida])
REFERENCES [dbo].[Partida] ([Id])
GO

ALTER TABLE [dbo].[ProgresoPartida]
ADD FOREIGN KEY ([IdSala])
REFERENCES [dbo].[Sala] ([Id])
GO

ALTER TABLE [dbo].[PistaUsada]
ADD FOREIGN KEY ([IdPartida])
REFERENCES [dbo].[Partida] ([Id])
GO

ALTER TABLE [dbo].[PistaUsada]
ADD FOREIGN KEY ([IdAcertijo])
REFERENCES [dbo].[Acertijo] ([Id])
GO








INSERT INTO Acertijo
(IdSala, Numero, Pregunta, RespuestaCorrecta, Pista)
VALUES

(3,
1,
'En una bandera encontrás las letras B O C A. Debajo hay cuatro números: 2 - 15 - 3 - 1. Pero esta vez tenés que multiplicar el valor de la primera letra por el de la última y sumar los valores de las dos letras del medio. ¿Cuál es el resultado?',
'20',
'Usá el valor de cada letra del abecedario. Primero multiplicá y después sumá.'),

(3,
2,
'Escuchás a la barra cantar y encontrás una pared con esta secuencia: 1 - 4 - 9 - 16 - 25 - ?. ¿Qué número falta?',
'36',
'Cada número es el resultado de multiplicar un número por sí mismo.'),

(3,
3,
'Encontrás cinco escalones numerados. El primero tiene 3, el segundo 6, el tercero 12 y el cuarto 24. En el quinto alguien escribió solamente un signo de pregunta. ¿Qué número debería aparecer?',
'48',
'Cada escalón duplica el número anterior.'),

(3,
4,
'Una puerta tiene tres candados. Cada uno tiene un número: 4, 7 y 12. Una nota dice: El primer número aumenta 3 y el segundo aumenta 5. Seguí la misma lógica. ¿Cuál sería el siguiente número?',
'19',
'Las diferencias entre los números también esconden una secuencia.'),

(3,
5,
'¿Qué club uruguayo fue el rival de Boca Juniors en su primer partido internacional de la historia en el año 1907?',
'Universal De Montevideo',
'Su nombre suena muy "espacial" o del "cosmos", y el partido terminó con derrota xeneize por 2 a 1 en Buenos Aires.'),

(3,
6,
'¿Quién es la persona con más títulos ganados en la historia del club contando su etapa como jugador y como director técnico?',
'Sebastián Battaglia',
'Es un mediocampista central histórico de la época dorada de Carlos Bianchi; de hecho, metió el penal decisivo en Japón contra el Milan en 2003.'),

(3,
7,
'¿Cuál fue el único director técnico brasileño que dirigió al club en la era del profesionalismo?',
'Dino Sani',
'Dirigió en 1984, se llamaba Dino y su apellido empieza con S.'),
GO




GO